/* users.css */

/* Light mode modal styling */
.light-mode-modal {
  background-color: #fff; /* Light background color */
  color: #000000; /* Dark text color */
  border-radius: 10px;
  padding: 2rem;
  max-width: 600px;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  animation: fadeIn 0.5s ease;
}
.btn {
  /* background-color: #343a40 !important;  */
  color: #ffffff !important;
  border: none !important;
  padding: 10px 20px !important;
  margin: 5px !important;
  border-radius: 8px !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
  transition: background-color 0.3s ease !important;
}
h2 {
  background-color: #343a40 !important;
  color: #ffffff !important;
  border: none !important;
  padding: 10px 20px !important;
  margin: 5px !important;
  border-radius: 8px !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
  transition: background-color 0.3s ease !important;
}

.light-mode-overlay {
  background-color: rgba(255, 255, 255, 0.75); /* Light overlay color */
  backdrop-filter: blur(10px);
}

.light-mode-modal .form-group label {
  color: #bdbaba; /* Darker label color for contrast */
}

.light-mode-modal .form-group input {
  background-color: #f8f9fa; /* Light input background color */
  color: #d8d5d5; /* Dark text color */
  border: 1px solid #ccc; /* Light border color */
}

.light-mode-modal .btn-primary {
  background-color: #ff0000 !important; /* Specified button color */
  border-color: #343a40 !important;
}

.light-mode-modal .btn-primary:hover {
  background-color: #343a40f6 !important; /* Slightly darker shade on hover */
  border-color: #343a40e7 !important;
}

.light-mode-modal .btn-secondary {
  background-color: #343a40 !important; /* Specified button color */
  border-color: #343a40 !important;
}

.light-mode-modal .btn-secondary:hover {
  background-color: #343a40e8 !important; /* Slightly darker shade on hover */
  border-color: #343a40e8 !important;
}

/* Fade-in animation for the modal */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -45%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
