/* users.css */

/* Light mode modal styling */
.light-mode-modal {
  background-color: #fff; /* Light background color */
  color: #000000; /* Dark text color */
  border-radius: 10px;
  padding: 2rem;
  max-width: 600px;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  animation: fadeIn 0.5s ease;
}

.light-mode-overlay {
  background-color: rgba(255, 255, 255, 0.75); /* Light overlay color */
  backdrop-filter: blur(10px);
}

.light-mode-modal .form-group label {
  color: #bdbaba; /* Darker label color for contrast */
}

.light-mode-modal .form-group input {
  background-color: #f8f9fa; /* Light input background color */
  color: #d8d5d5; /* Dark text color */
  border: 1px solid #ccc; /* Light border color */
}

.light-mode-modal .btn-primary {
  background-color: #ff0000 !important; /* Specified button color */
  border-color: #8d4d11 !important;
}

.light-mode-modal .btn-primary:hover {
  background-color: #703b0d !important; /* Slightly darker shade on hover */
  border-color: #703b0d !important;
}

.light-mode-modal .btn-secondary {
  background-color: #8d4d11 !important; /* Specified button color */
  border-color: #8d4d11 !important;
}

.light-mode-modal .btn-secondary:hover {
  background-color: #703b0d !important; /* Slightly darker shade on hover */
  border-color: #703b0d !important;
}

/* Fade-in animation for the modal */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -45%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
